# This file is described here:  https://help.github.com/en/articles/about-code-owners

# Global Owners: These members are Core Maintainers of Brigade
* @krancour @vdice @radu-matei @thomastaylor312 @codyuhi @sjsundrud
